# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/

#Vi henter alle billeder fra nettet undtagen logoet, så derfor er der ikke noget at ignorere