# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/

#vi har ikke en stor nok mængde af billeder til at vi skal ignore dem, vi henter næsten alle billeder ned fra nettet