<style > * {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #494E50;
    margin: 0;
}


img {
    width: 100%;
}

p {
    color: #FFFFFF;
    font-family: 'Exo 2', sans-serif;

}

h1 {
    color: #A3C9D9;
    font-family: 'Rokkitt', serif;
    font-weight: 900;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

h2,
h3,
h4 {
    color: #380000;
    font-family: 'Rokkitt', serif;
    font-weight: 900;
}

h2:hover h3:hover {
    color: #FFFFFF;

}

a {
    color: #A3C9D9;
    font-family: 'Exo 2', sans-serif;
}

#splash {
    background-position: bottom;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    height: 300px;
    background-image: url(img/whiskey-and-cigars-1.jpeg);
}

#logo {
    margin-top: 230px;
    height: 70px;
    margin-left: -30vw;
}

#liste {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);

}

#popup {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    display: none;
}

.indhold {
    width: 80vw;
    min-height: 50vh;
    background: #494E50;
    margin: 1rem auto;
    padding: 10px;
}

.indhold img {}

.indhold h1 {
    margin-left: 5vw;
    margin-top: 10px;
    font-size: 45px;
}

.indhold p {
    margin-left: 5vw;
    font-size: 22px;
    margin-right: 10px;
}

.indhold .lang {
    margin-right: 5vw;
    margin-left: 10px;
    font-size: 14px;
}

.luk {
    position: fixed;
    right: 0;
    font-size: 2rem;
}

.menu {
    text-align: center;
}

.drink {
    padding: 1em;
    padding: 30px;
}

.drink h2 {
    color: white;
}

.overskrift_opskrift {
    font-size: 30px;
    color: white;
    margin-left: 5vw;
}

#opskrift_row {
    background-color: #380000;
    margin: 0 7vw;
}

#opskrift_row p,
h3 {
    margin-left: 10px;
}

button {
    margin: 0.5rem;
    color: #FFFFFF;
    background-color: #380000;
    border-radius: 3%;
    border: none;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    padding: 10px 20px;
}

.row {
    display: flex;
}

.column {
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100px;
}

.valgt {
    background-color: #A3C9D9;
    color: #1D1D1D;
}

.overskrift_kategori {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 3rem;
    padding-left: 3rem;
}

.hide {
    display: none;
}

@media screen and (min-width:600px) {

    #liste {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }
}

@media screen and (min-width:768px) {
    #liste {
        grid-template-columns: repeat(3, 1fr);
        max-width: 960px;
        margin: 0 auto;

    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px;
    }

    #logo {
        height: 100px;
        margin-top: 400px;
    }

    #splash {
        height: 500px;
    }

    button {
        padding: 15px 32px;
    }

    .indhold {
        max-width: 1000px;
    }
}

footer {
    margin-top: 10px;
    background: gray;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

</style >
